{% extends "base.html" %}

{% block title %}
Главная
{% endblock %}

{% block body %}
<div class="col-12">
    <div class="container">
        <div class="Second-img">
            <div class="mb"></div>
            <div class="mg2 font">DANCECOIN</div>
            <div class="mg2 font1">РАСКРОЙ СВОЙ #ПОТАНЦЕВАЛ</div>
        </div>
    </div>
</div>
<div class="text-center"    >
    <div>
        <h2 class="fw-bold mt-5">Что такое DANCECOIN?</h2>
    </div>
    <div>
        DANCECOIN - это танцевальная валюта, которую можно заработать на занятиях,
        <div>а также за участие в танцевальных марафонах, батлах, мероприятиях.
        </div>
    </div>
</div>
<div class="text-center">
    <div>
        <h2 class="fw-bold mt">
            Номинал
        </h2>
        <img src="static/img/1.png" class="img">
        <img src="static/img/2.png" class="img">
        <img src="static/img/5.png" class="img">
        <img src="static/img/10.png" class="img">
    </div>
</div>
<div class="text-center">
    <h2 class="fw-bold mt">
        Зарабатывая DANCECOIN, вы можете
    </h2>
    <img src="static/img/icons.png" class="img-1 mt-4">
</div>
<div class="text-center">
    <h2 class="fw-bold mt">
        Партнёры
    </h2>
    <img src="static/img/part.png" class="img-2 mt-3">
</div>
{% endblock %}